* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(217, 54%, 11%);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 330px;
  background: hsl(216, 50%, 16%);
  padding: 1.5rem;
  border-radius: 1rem;
}

.equilibrium {
  max-width: 100%;
  border-radius: .5rem;
}

h1 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(215, 51%, 70%);
  font-size: .8rem;
}

.container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid hsl(215, 32%, 27%);
}

.eth {
  display: flex;
  align-content: center;
  gap: .3rem;
  font-size: .8rem;
  color: hsl(178, 100%, 50%);
  margin-bottom: .5rem;
}

.days-left {
  display: flex;
  align-content: center;
  gap: .3rem;
  font-size: .7rem;
  color:hsl(215, 51%, 70%);
  margin-bottom: .5rem;
}

.jules {
  display: flex;
  align-items: center;
  color:hsl(215, 51%, 70%);
}
.avatar {
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 2rem;
  margin-right: 1rem;
}

a {
  color: hsl(0, 0%, 100%);
}