@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5rem 1.7rem;
}
.car-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  padding: 3rem;
}

.header{
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  letter-spacing: 1px;
}

p{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  color:hsla(0, 0%, 100%, 0.75);
  line-height: 30px;
}

button {
  background: hsl(0, 0%, 95%);
  border-style: none;
  padding: .8rem 2rem;
  border-radius: 1.2rem;
  font-weight: 600;
}

.sedan {
background: hsl(31, 77%, 52%);
border-radius: .5rem .5rem 0 0;

}
.sedan-color {
color: hsla(31, 77%, 52%, 0.6);
}
.suv {
  background: hsl(184, 100%, 22%);
}
.suv-color {
  color: hsla(184, 100%, 22%, 0.6);
}
.luxury {
  background: hsl(179, 100%, 13%);
  border-radius: 0 0 .5rem .5rem;
}
.luxury-color {
  color: hsla(179, 100%, 13%, 0.6);
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body{
    display: flex;
    justify-content: center;
    margin: 250px 309px;
  }
  .container {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .car-container {
    display: flex;
    align-items: start;
    padding: 50px 30px 40px 30px;
  }
  p {
    padding-bottom: 50px;
    line-height: 30px;
  }

  .sedan {
    border-radius: .5rem 0 0 .5rem;
  }

  .luxury {
    border-radius: 0 .5rem .5rem 0;
  }

}